
/* header section start  */
/* left site  */
header{
   /* height: 400px; */
}
.banner-left-site{
   /* position: absolute;
   bottom: 0px;
   left: 0px;
   top: 50%;
   background-image: url(../images/banner/path56.png);
   background-repeat: no-repeat; 
   background-position: center center;
   background-size: cover;
   height: 340px;
   width: 340px; */
   /* border: 1px solid yellow; */

}
.banner-left-site img{
   /* width: 250px;
   height: 300px; */
}
/* middle site  */
.header-content{
   /* margin-top: 50px; */
   /* height: 100px; */
}
.position-line{
   /* position: absolute;
 
   bottom: 0px;
   right: -50px; */
}

/* header section end  */

/* .header-left{
   background-image: url(../images/banner/path56.png);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
   margin-top: 100px;
   
}
.header-left img{
   height: 400px;
   margin-top: 30px;
}
.header-content{
 position: relative;

 margin-bottom: 50px;
} */
/* .border-img{
  
   position: absolute;
   bottom: 0px;
   right: 0px;
   top: 95%;
  
} */
/* .header-right{
   position: relative;
}
.right-side-img1{
   border: 1px solid rebeccapurple;

} */

/* .right-side-img2{
  
} */
/* .right-side-img2{
   background-image: url(../images/banner/Rectangle\ 57.png);
   background-repeat: no-repeat;
   margin-left: 50%;
   margin-top: 12%;
   width: 500px;

}
.football-img{
   width: 140px;
   height: 140px;

} */



<!-- -----------Header Section Start------------  -->
<header class="bg-dark">

   <div class="row">
      <!-- banner left site  -->
      <div class="col-md-3 position-relative p-0">
         <div class="banner-left-site ">
            <!-- <img class="" src="./assets/images/banner/image 27.png" alt=""> -->
         </div>

      </div>
      <!-- Banner Middle Point  -->
      <div class="col-md-6 text-center p-0">
         <div class="header-content position-relative">
            <h1>Football Team Management</h1>
            <div class="border-img position-line">
               <img src="./assets/images/banner/Line Marker.png" alt="">
            </div>

         </div>
         <p class="mt-2">The Player Selection Process is a values-based and principle-driven guide and approach to
            player
            selection
            designed to help sports organizations ensure transparency and fairness and communicate their
            commitment
            to
            True Sport.</p>
      </div>
      <div class="col-md-3 p-0">
         <p>Lorem ipsum dolor!</p>
      </div>
   </div>


</header>