
/* all fonts load  */

@font-face{
   src:url(../fonts/google-font/Poppins-Bold.ttf);
   font-family: Poppins-Bold;
}
@font-face{
   src:url(../fonts/google-font/Roboto-Medium.ttf);
   font-family: Roboto-Medium;
}
@font-face{
   src:url(../fonts/google-font/BebasNeue-Regular.ttf);
   font-family: BebasNeue-Regular;
}
@font-face{
   src:url(../fonts/google-font/Cookie-Regular.ttf);
   font-family: Cookie-Regular;
}

body{
   background-color: rgba(27, 26, 26, 0.875);
}
*{
   margin: 0px;
   padding: 0px;
}
a{
   text-decoration: none;
}
/* .container{
   width: 90%;
   margin: 0px auto;
} */
h1,
h2,
h3{
   font-family: Poppins-Bold;
   color: rgb(8, 17, 64);
}
h1{
   color: #FF5E19;
   font-size: 50px;
}
p{
   font-family:  Arial, Helvetica, sans-serif;
   color: white;
}
/* header section  */
.header{
   overflow: hidden;
}
.left-side{
   margin-top: 60px;
   overflow: hidden;
}
.left-side-image{
   background-image: url(../images/banner/path56.png);
   background-size: cover;
   overflow: hidden;
}

.left-side-image img{
   width: 80%;
   height: 40vh;
}
/* .....................  */

.bg-table-color{
   background-color: rgb(2, 21, 37);
}

/* Button style  */

.select-btn:hover{
   background-color: #61a4d0;
   transition: 0.5s;
}
/* selected header  */
.selected-header::after{
   content: '';
   display: block;
   margin: 0px auto;
   border-bottom: 1px solid transparent;
   padding: 3px;
   border-image: url('../images/banner/Ureg.png') 30% stretch;
   border-image-outset: 0px 15px 15px 0px;
   border-image-width: 30px;
   margin-top: 1px;
   width: 50%;
   
}
/* ......... budget .......  */
.budget-header::after{
   content: '';
   display: block;
   margin: 0px auto;
   border-bottom: 1px solid transparent;
   padding: 3px;
   border-image: url('../images/banner/Ureg.png') 30% stretch;
   border-image-outset: 0px 15px 15px 0px;
   border-image-width: 30px;
   margin-top: 1px;
   width: 50%;
   
}
/* .......... Total Amount style .........  */
.total-amount{
   color: #FF5E19;
   font-size: 20px;
}

/* ------------------ START FOOTER PART ----------------- */
footer{
   width: 100%;
   padding: 40px 0px;
   background-color: rgba(27, 26, 26, 0.611);
}
.mid-container{
   width: 500px;
   display: block;
   margin: 0px auto;
}


.mid-container p{
   color: white;
   font-size: 13px;
   word-spacing: 2px;
   letter-spacing: 2px;
   text-align: center;
}

/* ------------------ END FOOTER PART ----------------- */ 